/* ОБЩИЕ НАСТРОЙКИ */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ШАПКА */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.btn-main {
    background: #FF9800;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* ГЛАВНЫЙ БЛОК */
.hero {
    display: flex;
    align-items: center;
    padding: 40px;
}

.hero img {
    width: 400px;
    border-radius: 15px;
    margin-left: 30px;
}

.buttons {
    margin-top: 20px;
    cursor: pointer;
}

.about {
    padding: 40px;
}

.about-img {
    width: 600px;
    max-width: 100%;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
}

.block1 {
    background: #4CAF50;
    color: white;
    padding: 30px;
    margin: 40px;
    border-radius: 15px;

}

.block1 h2 {
    margin-top: 0;
}

.block1 p {
    line-height: 1.6;
}

.block2 {
    background: #FF9800;
    color: white;
    padding: 30px;
    margin: 40px;
    border-radius: 15px;

}

.block2 h2 {
    margin-top: 0;
}

.block2 p {
    line-height: 1.6;
}

/* КНОПКИ */
.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn.secondary {
    background: #FF9800;
    cursor: pointer;
}

.btn.secondary2 {
    background: #FF9800;
    cursor: pointer;
    text-align: center;
}


.btn.small {
    margin-top: 10px;
    cursor: pointer;
}

.search {
    padding: 20px 40px;
    display: flex;
    gap: 10px;
}

.search input {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-search {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.btn-reset {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #FF9800;
    color: white;
    cursor: pointer;
}

.filters {
    padding: 0 40px 20px;
    display: flex;
    gap: 10px;
}

.filters button {
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    color: white;
}

.filters button.active {
    opacity: 0.6;
    transform: scale(0.95);
    filter: brightness(0.9);
}

.filters button:nth-child(1) {
    background: white;
    color: black;
    border: 1px solid #ccc;
}

.filters button:nth-child(2) {
    background: #4CAF50;
}

.filters button:nth-child(3) {
    background: #FF9800;
}

/* КАРТОЧКИ */
.animals {
    padding: 40px;
    flex: 1;
}

.cards {
    display: flex;
    gap: 20px;
    flex: 1;
}

.cards .card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.cards .card .btn {
    margin-top: auto;
    align-self: center;
    margin-right: 0;
}

/* ГОРИЗОНТАЛЬНЫЕ КАРТОЧКИ */
.animals-list {
    padding: 40px;
    flex: 1;
}

.card.horizontal {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.card.horizontal img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.card-info {
    flex: 1;
}

/* ПОМОЩЬ */
.help {
    padding: 40px;
    background: #eee;
}

.help-items {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 15px;
}

.help-items div {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

/* ФУТЕР */
.footer {
    background: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer p,
.footer h3 {
    margin: 0;
}

/* МОДАЛКА */
.modal {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

/* САМО ОКНО */
.modal-content {
    background: white;
    width: 500px;
    max-width: 90%;

    margin: 5% auto;
    border-radius: 15px;
    overflow: hidden; /* ВАЖНО */

    position: relative;

    transform: translateY(-30px) scale(0.9);
    transition: 0.3s;
}

.modal.active .modal-content {
    transform: translateY(0) scale(1);
}

/* КАРТИНКА */
.modal-content img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, #4CAF50, #FF9800);
}

/* ТЕКСТ */
.modal-text {
    padding: 20px;
}

.modal-text .btn {
    display: block;
    width: fit-content;
    margin: 20px auto 0; /* центрирует кнопку */
}

/* КРЕСТИК */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    z-index: 10;
}